* {
    box-sizing: border-box;
  }


  body{
    text-align: center;
    align-content: center;
    font-family: 'Quicksand', sans-serif;
  }
.pad{
    height: auto;
    width: 415px;
    display:inline-block;
    flex-wrap: wrap;
    background-color: black;
    
}

.box{
    float: left;
    display: block;
    height: 60px;
    margin: 10px;
    margin-right: 20px;
    margin-left: 10px;
    width: 25%;
    padding: 0 10px;
    background-color: aqua;
}

.card{
    padding: 16px;
    text-align: center;
    height: 50px;
    margin-top: 5px;
    background-color: brown;
}

